$space-unit: 0.8rem;
$space-1: $space-unit;
$space-2: $space-unit * 2;
$space-3: $space-unit * 3;
$space-4: $space-unit * 4;
$space-6: $space-unit * 6;

$radius: 0.6rem;
$radius-lg: 1.2rem;
$container-width: 112rem;
