.post-entry {
    position: relative;
    margin-bottom: var(--gap);
    padding: var(--gap);
    background: var(--entry);
    border-radius: var(--radius);
    border: 1px solid var(--border);
    transition: transform 0.1s;
}

.entry-content {
    margin: 8px 0;
    color: var(--secondary);
    font-size: 14px;
    line-height: 1.6;
}

.entry-footer {
    color: var(--secondary);
    font-size: 13px;
}

.post-content {
    color: var(--content);
}
